.pull-left {
    float: left;
}
.nav-item {
    background-color: rgb(66, 179, 179);
    border: 1px solid rgb(166, 44, 44);
}
h1, h2 {
    text-align: center;
}
p {
    height: 1000px;
}
#abdomen {
    background-color: blanchedalmond;
}